<a href="https://colab.research.google.com/github/islavathnaveennaik/python_notes/blob/main/Naveen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#module1

In [ ]:
"""what is python?
emerging general-purpose programming languagehigh-level programming language object oriented programming language-->OOP’sDynamically typed programming languageinterpreted programming language"""

'what is python?\nemerging general-purpose programming languagehigh-level programming language object oriented programming language-->OOP’sDynamically typed programming languageinterpreted programming language'

In [ ]:
"""what is an emerging general-purpose programming language?#The main purpose of python programming language is  to handle tons ofdata, & AI development#also we can web development, mobile application development#apart from above usage we can use it for daily general works    for ex:- ISRO scientist use python language for physics calculation                    for Tracking stocks                     image processing what is high-level programming language?How many levels of programming languages are there?There are 2 levels of programming languages
Low-Level program language:- is also known as machine-friendly programminglanguage       --> each line of code is changing in to binary forms--> 1's & 0's                                      x = “hello world!”                                              1010101110101      --> more lines of code     ex:- c and c+"""

"what is an emerging general-purpose programming language?#The main purpose of python programming language is  to handle tons ofdata, & AI development#also we can web development, mobile application development#apart from above usage we can use it for daily general works    for ex:- ISRO scientist use python language for physics calculation                    for Tracking stocks                     image processing what is high-level programming language?How many levels of programming languages are there?There are 2 levels of programming languages\nLow-Level program language:- is also known as machine-friendly programminglanguage       --> each line of code is changing in to binary forms--> 1's & 0's                                      x = “hello world!”                                              1010101110101      --> more lines of code     ex:- c and c+"

In [ ]:
"""Higl-level programming language:-  is also known as Human friendly programming     language, so you can read the code like the English language      -->the code is not changing in to binary form      --> less lines of code in python

1.
ex:- python and java"""

'Higl-level programming language:-  is also known as Human friendly programming     language, so you can read the code like the English language      -->the code is not changing in to binary form      --> less lines of code in python  \n\n1.\nex:- python and java'

In [ ]:
"""what is object oriented programming language-->OOP’seach line of code is having its own “identity, attributes, methods of interactions”,#how can you define an object?
object  --> python    x = 10
identity
programming language
x = 10
properties/Attributes
genral purpose
HL
Dynamically typed
interpreted
it is whole number withoutdecimal points
Methods of interaction
environment-->IDE’s
Integreated development environment
Google colab
1.
Pycharm
2.
jupyter notebook
3.
VS
4.
class     <sofware programming languages>   ,<int>
is the objects are the real world entities or class is the real world entityclass:- category of an object or  blue print the objectobject:- instance of class"""

'what is object oriented programming language-->OOP’seach line of code is having its own “identity, attributes, methods of interactions”,#how can you define an object?\nobject  --> python    x = 10\nidentity\nprogramming language\nx = 10\nproperties/Attributes\ngenral purpose\nHL\nDynamically typed \ninterpreted\nit is whole number withoutdecimal points\nMethods of interaction\nenvironment-->IDE’s\nIntegreated development environment\nGoogle colab\n1.\nPycharm\n2.\njupyter notebook\n3.\nVS\n4.\nclass     <sofware programming languages>   ,<int>\nis the objects are the real world entities or class is the real world entityclass:- category of an object or  blue print the objectobject:- instance of class'

In [ ]:
"""what is a Dynamically typed programming language?#How many types of programming languages ?#there 2 types
statically typed programming language
1.
 Dynamically typed programming language
2.
1.statically typed programming language:- we need define the data type forthe variables . for ex:- int[a]=10                                              str[b]= “hello”2.Dynamically typed programming language:- we no need to define dtype forvariables                    ex:-  x = 10                                                x = “hello world”!python can update its dtype automatically"""

'what is a Dynamically typed programming language?#How many types of programming languages ?#there 2 types \nstatically typed programming language\n1.\n Dynamically typed programming language\n2.\n1.statically typed programming language:- we need define the data type forthe variables . for ex:- int[a]=10                                              str[b]= “hello”2.Dynamically typed programming language:- we no need to define dtype forvariables                    ex:-  x = 10                                                x = “hello world”!python can update its dtype automatically'

In [ ]:
"""what is interpreted programming language?python can execute the code line by line , recent values can be taken asa updated values a = 10b = 20a = 30b = 20print(a+b)
what is an IDE’s?integrated development environmentIDE’s are defined as “code compilers”, “codeexecutors”, “result given”, Interpretors
commenting in  pythonwhat is comments and why we require comments?#comment is nothing but describing your line of code.#for better understanding purpose we use commentshow many types comments are there?#1.single line comment---> ##2.multiline line comment--> “““  ”””  or  ‘‘‘  ’’’ #Note when you are using double triple quotes enclose it with samequotes otherwise it throughs an error
python is define most emerging, general purpose, high-level, Object-oriented, dynamically typed, interpreted programming language"""

'what is interpreted programming language?python can execute the code line by line , recent values can be taken asa updated values a = 10b = 20a = 30b = 20print(a+b)\nwhat is an IDE’s?integrated development environmentIDE’s are defined as “code compilers”, “codeexecutors”, “result given”, Interpretors\ncommenting in  pythonwhat is comments and why we require comments?#comment is nothing but describing your line of code.#for better understanding purpose we use commentshow many types comments are there?#1.single line comment---> ##2.multiline line comment--> “““  ”””  or  ‘‘‘  ’’’ #Note when you are using double triple quotes enclose it with samequotes otherwise it throughs an error\npython is define most emerging, general purpose, high-level, Object-oriented, dynamically typed, interpreted programming language'

#Numerical Dtype in python

In [ ]:
#there are 3 types of numerical dtypes
#1.integer---> int
#a whole number either +ve or -ve without decimal point is known integer
print(10)
print(5)
print(-5)
#find the dtype for above
#use "type()"
print(type(10))
print(type(-5))

10
5
-5
<class 'int'>
<class 'int'>

In [ ]:
#flaot:- a whole number either +ve or -ve with decimal point is known float
print(10.5)
print(5.5)
print(-6.5)
print(type(10.5))
print(type(-6.5))

10.5
5.5
-6.5
<class 'float'>
<class 'float'>

In [ ]:
#0-->int
#0.0-->float
#2.0-->float
#.9--> float
#-0--->float

In [ ]:
#3.complex numnbers:- ---> complex
#a real number withits imaginary part is known as complex number
# 3x+4y = 6        ---->  2 + 4j
#what is "j"?
# j is known as "iota" the value of iota is root -1
print(2 + 5j)
print(type(2+5j))
print(5j)
print(type(5j))

(2+5j)
<class 'complex'>
5j
<class 'complex'>

#Arthmetic Operators

In [ ]:
#There are 7 types of arthametic operators
#1.addition---> +
print(10 + 5)
#2.substraction---> -
print(10 - 5)
#3.multiplication---> *
print(10 * 5)
#4.division---> /
print(10 / 5)
print(type(10 / 5))
#why the default dtype for division is float?
"""somnetimes in division operation we may get decimal values in co-efficient to
avoid this confusion by default the dtype for division is float"""

15
5
50
2.0
<class 'float'>

'somnetimes in division operation we may get decimal values in co-efficient to\navoid this confusion by default the dtype for division is float'

In [ ]:
#5. Modulus---> %---> remainder of the division
print(10 % 5)
print(type(10 % 5))

0
<class 'int'>

In [ ]:
#6. exponential--> ** --> to the power off
print(2 ** 3)
print(type(2**3))
print(1**5)
print(3 ** 2)
print(5**2)

8
<class 'int'>
1
9
25

In [ ]:
#floor division:----> //
#it ignores the values after the decimal point
print(10 / 3)
print(10 // 3)

3.3333333333333335
3

In [ ]:
#what is a floor value?
#The vale before the decimal point is known as "floor value"
#what is a ceil value?
#the next upcoimng value or nearest value to the decimal number is known as ceil value
#Note:- if the decimal number is equal to >.5 or greater than .5 then it print ceil value

#Round()

In [ ]:
#987.542312
print(round(6.45))
#NOte:- if the decimal value is <.5 then it print floor value

6

In [ ]:
#i want to print 1st 2 ndigits from below number
#round(number,ndigits)
print(round(987.542312,2))
print(round(987.542312,3))
print(round(7.25,-1))

987.54
987.542
10.0

In [ ]:
print(round(789.645749,4))   #65, #6

789.6457

In [ ]:
print(round(12355.98765,-5))
#when you use the -1 ndigit it ignores the values after the decimal point
print(round(12345.6789,-3))

0.0
12000.0

In [ ]:
print(round(67435.7854,-5))
print(round(-12567.987, -3)) #-13000
print(round(-089.987,-1))

100000.0
-13000.0
-90.0

#Variables

In [ ]:
#what is varaibles?
#varaible is a container where we can store our value data or information and reuse it
#how can we create a varaible?
"""let the father age is x and
son age is half of father age
find the son age x/2"""
#How can we access the information from the varaible?
#by using print() we can display data storing the varaible
#take two varaibles and apply all the arthamatic operations?
a = 10
b = 20
print(a+b)
print(a-b)
print(a*b)
print(b/a)
print(b%a)
print(b**a)
print(b//a)

30
-10
200
2.0
0
10240000000000
2

In [ ]:
x = 40
son = x/2
print(son)

20.0

**Types of Errors**

In [ ]:
#Types of erros
#1. Syntax error:- Breaking the rules of programming language can rise an syntax error
""" hi
      i am writing a multiline comment """

' hi\n      i am writing a multiline comment '

In [ ]:
#2.Logical error:- except syntax error all the errors comes under logical error
#indentation error, attribute error, Name error, type error..etc

#Industrial rules followed to create a varaible

In [ ]:
#1.start creating the varibles by using alphabets
a = "hello wolrd!"
print(a)
print(type(a))

hello wolrd!
<class 'str'>

In [ ]:
#2. dont start creating the varible by using the numbers
4 = "hello"
print(4)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-5-8f2766350a0d>, line 2)

In [ ]:
#3.if you follow rule 1 and 2 u can start creating varaible by alphabets inbetween you can use number
son2age = 20
print(son2age)

20

In [ ]:
#4.we cannot use special characters in the varaibles
# @$%^&*-
son@age = 40
print(son@age)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-7-513cd5a42e2c>, line 3)

In [ ]:
#5.we cannot use space in between varaibles
a b = 10 20
print(a b)

SyntaxError: invalid syntax (<ipython-input-8-0a392f9192f1>, line 2)

In [ ]:
#6. we can use _ as a varaible
son_age = 20
print(son_age)
_ = "hello"
print(_)

20
hello

**smart ways of wrirng a varaible**

In [ ]:
#1.assign multiple values to multiple varaibles and print it in a seprate line
#for ex:- take 3 varaibles x,y,z
x = 10
y = 20
z = 30
print(x)
print(y)
print(z)

10
20
30

In [ ]:
x,y,z = 10,20,30
#use the "sep" keyword to print output in separate lines
print(x,y,z,sep="\n")

10
20
30

In [ ]:
#assign a single value to the multiple varaibles and print in separate line
#take 3 varaibles x,y,z and assign same values to it
x = 10
y = 10
z = 10
print(x,y,z,sep="\n")

10
10
10

In [ ]:
x=y=z= 10
print(x,y,z,sep="\n")

10
10
10

In [ ]:
#what is a python?
#python is an general puprose, high-level, dynamical typed, object oriented,interpreted program language

In [ ]:
#prove that python is an dynamically typed prgramming language?
#  str[a]  = "hello world!" , int(a) = 10--->statically typed programming language
# a = "hello wolrd", a = 10
#the python varaible can read the data automatically by itself
s = "hello world!"
print(s)
print(type(s))
h = 10
print(type(h))

hello world!
<class 'str'>
<class 'int'>

In [ ]:
#python is an interpreted programming language?
#python can execute the code line by line
a = 10
b = 5
a = 2
b = 3
print(a*b)

6

In [ ]:
#python is an case sensitive programming language?
h = "hello"
print(h)

hello

#input()

In [ ]:
#what is an input()?
#it intakes any kind of information or data and reuse it
a = input("enter your name: ")
print(a)
print(type(a))
#the default data type for input() is string

enter your name: a
a
<class 'str'>

In [ ]:
#why the default data type for inpuit function is string?
#The function has to be in such a way it can accept any kind of informatiom. so the string is collection multiple characters

In [ ]:
a = int(input("enter the number: "))
b = int(input("enter the number: "))
print(a+b)

enter the number: 9
enter the number: 9
18

In [ ]:
s="OpenAI"
print(s[1:6][-1::-2])

Inp

In [ ]:
#print hello world program
print("hello world!")

hello world!

In [ ]:
#what is concatenation?
print("hello"+ "team")
#adding 2 strings or 2 input() without defining the data isknown as concatenation

helloteam

In [ ]:
a = int(input("enetr the number: "))
b = int(input("enter the number: "))
print(a+b)
#Note:-  when we are dealing with integer or float mention the specific dtype infront input()

enetr the number: 9
enter the number: 9
18

In [ ]:
#take 2 decimal input() apply all the arthametic operations?
a = float(input("eneter the decimal: "))
b = float(input("enter decimal number: "))

eneter the decimal: 9.9
enter decimal number: 9.9

**strings**

In [ ]:
#what is strings?
#string is a collection of multiple characters written inside the quotes
#How can we declare a string?
#we decalre strings in " " or ' '

In [ ]:
#How many types of strings are there?
#two types
#single line string---> " " or ' '
#multiline string---> """ """double triple quotes  or single triple quotes ''' '''

In [ ]:
#print a single line string?
print("hello world")

hello world

In [ ]:
print(""" Hi
         Good Day!
         i am writing a multiline string""")

 Hi
         Good Day!
         i am writing a multiline string

In [ ]:
#string is a collection of multiple characters where each character can be accessible
#string is ordered means characters in the string has sequence of index position numbers
#How can we access the characeters from the string?
#we can access by using "indexing" and slicing operators---> []

In [ ]:
a = "Hello World!"
#from the above string print the "e" ?
#[start_index_number]
# print(a[1])
#print "r" from the above string?
# print(a[8])
#print the "hello world!" in separate line without using loops?
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])

H
e
l
l
o

W

In [ ]:
#access a range of characters [start:end_index_number]
s = "hello world!"
#llo wo
print(s[2:7]) #end index can be n+1
#why the 7th charcter is not printed?
#because slicing can be stop  before the end index position number
print(s[2:8])
#from the above print the entire "hello"
print(s[0:5])

llo w
llo wo
hello

In [ ]:
h = "Hello World!"
#from above string print the even index of the data
#[start:end:step]
print(h[0:12:2])
#print the odd index charcters from abover string
print(h[1:12:2])

HloWrd
el ol!

In [ ]:
a = """Data is a collection of facts, numbers, words, observations, or other useful information
that can be used for calculation, reasoning, or planning."""
#howmany character in above string
#use len() given total number characters in string
#length start from 1
print(len(a))
#find end index_number of the above string
print(len(a)-1)
print(a[146])

146
145

IndexError: string index out of range

#Negative indexing:- where we can access the items in reverse direction

-->-ve indexing starts from -1

In [ ]:
h = "Hello Good afterNoon"
#[start]
print(h[-1])

n

In [ ]:
#can we print range of characters in reverse direction?
#No
print(h[-1:-7])
#By default slicing direction is from left to right
#if you want to go in reverse direction in step we need to mention -1
print(h[-1:-7:-1])

nooNre

In [ ]:
u = "hello"
#reverse the above string
print(u[-1:-6:-1])

olleh

In [ ]:
l = "madam"
print(l[-1:-6:-1])
print(l[:])
print(l[::])
print(l[::2])
print(l[::-1])

madam
madam
madam
mdm
madam

In [ ]:
st='Happy Christmas and Happy new year'

if (st.startswith("Happy”)):

    x=st.rsplit(“Happy”)

print(len(x))

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-17-66b1dfddaae3>, line 3)

In [ ]:
st = 'Happy Christmas and Happy new year'

if st.startswith("Happy"):
    x = st.rsplit("Happy")  # Split by "Happy"

print(len(x))

3

In [ ]:
s = "OpenAI"
print(s[1:6][-1::-2])

Inp

In [ ]:
#revision
#indexing:- positional number of chartacters
#string:- is ordered sequence positional number of chartacters
#len():- counts the no of characters in the string
#print th even characters from a string?   [start(0):end:step(2)]
#print the odd characters from string? [start[1]:end:step(2)]

In [ ]:
#Negative indexing:-  we can access the string in reverse direction.
# neagtive indexing starts from -1
#what is the default slicing direction?
#slicing can be done from lft to right dirction
s = "Hello world!"
print(s[-1:-7])
print(s[-7:-1])

 world

In [ ]:
#How can i print the string in reverse direction (or) how can i access the string by using negative indexing?
#if you want to access string in reverse direction we need to give step value as "-1"
print(s[-1:-13:-1])

!dlrow olleH

#Default indexing

In [ ]:
#How can we make slicing very easy without giving the indexing?
h = "Data science is the scientific study of data to gain knowledge and make informed decisions"
print(h[:])
#default indexing[startposition[0]:end[len(str)]:step[1]]
print(h[::]) #value error: slice step cannot be zero
#print th even index characters from above string?
print(h[::2])
#odd charcters
print(h[1::2])

Data science is the scientific study of data to gain knowledge and make informed decisions
Data science is the scientific study of data to gain knowledge and make informed decisions
Dt cec stesinii td fdt ogi nweg n aeifre eiin
aasinei h cetfcsuyo aat ankoldeadmk nomddcsos

In [ ]:
a = "hello"
#reverse above string
print(a[::-1])

olleh

In [ ]:
#check weather the string is palidrome or not?
#madam,  malayalam, markram, mom, dad, hyderabad, karnatak,chennai
i = input("enter the name: ")
print(i[::-1])

enter the name: naveen
neevan

#string

In [ ]:
#string methods:- the methods that are applying on the string is known as string methods
#what are all methods i can apply on the below string?
#by using "dir()" we can find out all the methods that are applicable on string
a = "hello world!"
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
a = "hello world!"
#convert the above string in to upper case?
print(a.upper())
print(a.lower())
print(a.capitalize()) #it converts 1st letter into capital
print(a.title())#it convert the 1st letter into capital after each and every space

HELLO WORLD!
hello world!
Hello world!
Hello World!

In [ ]:
#i want to delete unwanted space from the string
k = "   hello world!   "
#strip()
print(k.strip())
#left side space
print(k.lstrip())
#right side space
print(k.rstrip())

hello world!
hello world!
   hello world!

In [ ]:
#replace the "world" with univers in below string
#replace('old','new_str)
s = "hello world!"
print(s.replace("world","universe"))

hello universe!

In [ ]:
h = "hi team! good afternoon"
#above string replace "afternoon" with "evening"
print(h.find('z'))
print(h.index('z'))
#what is difference between index and find()?
#in find() if the index charactr is not present it prints -1
#where in index() if the character is not present it rises value "error

-1

ValueError: substring not found

In [ ]:
#what is "swapcase()"?
#what is zfill?

#string format methods

In [ ]:
age = 10
txt = f"my age is {age} years old."
print(txt)

my age is 10 years old.

In [ ]:
item_name = input("eneter the product name: ")
quantity = float(input("enter the quantity: "))
price_each = float(input("eneter the price: "))
notification = f"your order for {item_name} has been confirmed with an quantity of {quantity} and Total price {price_each*quantity}/-"
print(notification)

eneter the product name: cake
enter the quantity: 9
eneter the price: 50
your order for cake has been confirmed with an quantity of 9.0 and Total price 450.0/-

#escape characters

In [ ]:
#what is escape characters?
u = "Dwayne \"The Rock\" Johonson"
#print the above string with quotes
print(u)
#escape characters used to print the illegal characters(" ") or (' ') use backward slash(\) in front of the characters

Dwayne "The Rock" Johonson

In [ ]:
l = "hello team! \"good day\", hope everyon is practing \"string\" is important"
print(l)

hello team! "good day", hope everyon is practing "string" is important

In [ ]:
a = 10
print(dir(a))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

#Conditional statments

In [ ]:
#decision making program can be done with the help of conditional statements
#How can you check the condition and how can you make decision?
#decision making or conditional check can be done based on "comaprision operators"
#what is comaprision operators? #operators where we can check certain conditions that are satisfied or notsatisfied
#this is also known as "relational operators"
#There are 6 comparision or relational operators
#1.Equal to----> ==
#2. Not equal to ---> !=
#3. greater than --->   >
#4. less than ----->   <
#5. greater than equal to ----> >=
#6. less than equal too --->   <=

In [ ]:
#what are all conditionL satetment do we have in python?
#if----> elif----> else

In [ ]:
#write a program to check that student is pass or fail based recived marks and print marks
marks = int(input("eneter the marks: "))
passing = 45
if marks >= passing:
  print(f"congratulations, you have receive {marks} marks")
else:
  print(f"Better luck next time,you have received {marks} marks")

eneter the marks: 90
congratulations, you have receive 90 marks

In [ ]:
#if you are having more than 2 conditons then
#we can use "elif"
#write program to check either the given is +ve or -ve if it is 0 means print "neutral"
num = int(input("eneter the number: "))
if num > 0:
  print("+ve")
elif num == 0:
  print("neutral")
else:
  print("-ve")

eneter the number: 0
neutral

#Interview Questions

In [ ]:
#what is string?
##string is a collection of multiple characters written inside the quotes
#how can we create or declare a string?
#we decalre strings in " " or ' '
#How many types of strings are their?
#two types
#single line string---> " " or ' '
#multiline string---> """ """double triple quotes  or single triple quotes ''' '''
#How we can access the characters in string?
   #1.indexing    2. slicing operator--->[]
#what is len()? #returns the count of items
#what is -ve indexing?
#where we can access the items in reverse direction
#what default indexing? [start:end:step]
#what is string methods?
#the methods that are applying on the string is known as string methods
#how can we find what are methods applicable on string?
# "dir()""
#tell me a 10 string ,methods?
#upper, lower, strip, lstrip, rstrip, capitalize, title, find,index, replace,swapcase,zfill
#what is string format method
#it takes an argument and replace or fill it over the place holder{}
#What is escape characters?
#it used to print illegal characters

In [ ]:
#write a program to check weather the given string is palidrome or not , irrespective of letters
print(1 == 1)
print("a"=="A")
print(ord("A"))

True
False
65

In [ ]:
#mOM, MalaYAlaM
a = input("eneter the string: ")
b = a[::-1]
if a.lower() == b.lower():
  print("yes")
else:
  print("no")

eneter the string: mom
yes

#Logical operators

In [ ]:

# 1. and:- operator executes the program when all the conditions are true
a = 455
b = 60
c = 20
#write progra, to check weather a is greater than c and b similarly c is less than b?
if a > b and a > c and c < b:
  print("all the condition satisfied")
else:
  print("not satisfied")
#Logical operators
# 1. and:- operator executes the program when all the conditions are true
a = 455
b = 60
c = 20
#write progra, to check weather a is greater than c and b similarly c is less than b?
if a > b and a > c and c < b:
  print("all the condition satisfied")
else:
  print("not satisfied")
#Logical operators
# 1. and:- operator executes the program when all the conditions are true
a = 455
b = 60
c = 20
#write progra, to check weather a is greater than c and b similarly c is less than b?
if a > b and a > c and c < b:
  print("all the condition satisfied")
else:
  print("not satisfied")
# 1. and:- operator executes the program when all the conditions are true
a = 455
b = 60
c = 20
#write progra, to check weather a is greater than c and b similarly c is less than b?
if a > b and a > c and c > b:
  print("all the condition satisfied")
else:
  print("not satisfied")

all the condition satisfied
all the condition satisfied
all the condition satisfied
not satisfied

In [ ]:
#or:- operators executes the program if any one condition is satisfied
#check the below values have met with any one condition then execute the program
a = 18
b = 45
#
x = 20
z = 60
y = 35
if x > a or x > 45 or y > a or y < b or z > a or z < b:
  print("conditions satisfied")
else:
  print("any one condition is not satisfied")

conditions satisfied

In [ ]:
a = 50
b = 20
c = 30
d = 60
if a>b or c > b or d < a:
  print("all the conditions satisfied")
else:
  print("all the conditions not satisfied")

all the conditions satisfied

In [ ]:
#Not operator:- reverse the actual ouput
print(1 == 1)
print(not(1==1))

True
False

**nested conditions**

In [ ]:
#If you want to check a series or range  of conditions and you to print series of outputs
a = 25
if a > 10:
  print("a is greater than 10")
  if a>20:
    print("a is greater than 20")
    if a>30:
      print("a is greater than 30")
      if a>40:
        print("a is greater than 40")
        if a>50:
          print("a is greater than 50")
        else:
          print("a is less than 50")
      else:
        print("a is less than 40")
    else:
      print("a is less than 30")
  else:
    print("a is less than 20")
else:
  print("a is less than 10")

a is greater than 10
a is greater than 20
a is less than 30

In [ ]:
#writing condition inside the another condition is knownas Nested conditions means writing if condition inside another if condition

In [ ]:
#write a program to print that Grdaes along with marks
#if the student is getting
#40 to 60 ---> congratulation you have received "D" Grade along with ___marks
#61 to 70 --> C  congratulation you have received "c" Grade along with ___marks
#71 to 80--> B  congratulation you have received "B" Grade along with ___marks
#81 TO 90 --> A congratulation you have received "A" Grade along with ___marks
#91 TO 100 --> A+ congratulation you have received "A+" Grade along with ___marks
#if more than 100 markas --> "dont be smart "
#if less than 40marks print better luck next time you have recived __ marks.
#use the nested if condition along with elif condition

In [ ]:
marks = float(input("Enter the marks obtained: "))

if marks > 100:
    print("Don't be smart!")
elif marks >= 91:
    print("Congratulations! You have received an A+ grade with", marks, "marks.")
elif marks >= 81:
    print("Congratulations! You have received an A grade with", marks, "marks.")
elif marks >= 71:
    print("Congratulations! You have received a B grade with", marks, "marks.")
elif marks >= 61:
    print("Congratulations! You have received a C grade with", marks, "marks.")
elif marks >= 40:
    print("Congratulations! You have received a D grade with", marks, "marks.")
else:
    print("Better luck next time. You have received", marks, "marks.")

Enter the marks obtained: 101
Don't be smart!

In [ ]:
#tw0 condition--> if & else
#more than 2 conditions----> if elif else
#multiple conditions at a time --> lodical operators(and, or , not)
#if you series of output = nested if condition

In [ ]:
a = 50
b = 20
c = 30
d = 60
if a>b or c > b or d < a:
  pass

#pass is a null place holder when you execute pass then nothing will happens

**Loops**

In [ ]:
#what is loops?
# Loops are set of instructions
#what is the purpose of loops?
#it is used to avoid writing duplicate codes
#how many types of codes?
#there are 2 types
#1.WET Code:- writing everything twice
#2.DRY Code:- don't repeat yourself
#How many types of loops?
#There are 2 types
#1. While loop
#2. For loop

#While Loop

In [ ]:
#what is while loop?
#it is a set of instructions wich will run untill the condition remains true
target = 5
intial = 1
while intial <= 5:
  print("go up")
  print("go down")
  print("=====rep is completed===")
  intial = intial + 1

go up
go down
=====rep is completed===
go up
go down
=====rep is completed===
go up
go down
=====rep is completed===
go up
go down
=====rep is completed===
go up
go down
=====rep is completed===

In [ ]:
#writea simple program to run a lift if the user is giving 4th stop the lift at 4th floor
target = int(input("enter floor number: "))
intial = 1
while intial <= target:
  print(f"you have reached {intial} floor")
  intial = intial + 1

enter floor number: 4
you have reached 1 floor
you have reached 2 floor
you have reached 3 floor
you have reached 4 floor

In [ ]:
target = int(input("enter floor number: "))
intial = 0
dontstop = int(input("enetr floor number"))
while intial < target:
  intial = intial + 1
  #print(f"you have reached {intial} floor")
  if intial == dontstop:
    continue
  print(f"you have reached {intial} floor")

enter floor number: 8
enetr floor number5
you have reached 1 floor
you have reached 2 floor
you have reached 3 floor
you have reached 4 floor
you have reached 6 floor
you have reached 7 floor
you have reached 8 floor

In [ ]:
floor = 4
ground = 0
while ground < floor:

  ground = ground + 1
  print(f"you have reached {ground} floor")

you have reached 1 floor
you have reached 2 floor
you have reached 3 floor
you have reached 4 floor

In [ ]:
a = [1,2,3,4,5]
#i want multiples of 2
#2 4 6 8 10
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
for i in a:
  print(i*2, end=",")

2,4,6,8,10,

In [ ]:
user = int(input("enter floor num: "))
intial = 0
while intial < user:
  intial = intial + 1
  print("you are at:", intial)

enter floor num: 1
you are at: 1

In [ ]:
#Note:- Break:- it terminates or stop the loop irrespective of data or items
#Break:- using break statement in while  use the logic or count after the break statement
user = int(input("enter floor num: "))
intial = 0
eexit = int(input("enter the floor"))
while intial < user:
  if intial == eexit:
    break
  intial = intial + 1
  print("you are at:", intial)

enter floor num: 6
enter the floor2
you are at: 1
you are at: 2

In [ ]:
#similarly i dont want to stop the lift at 2nd floor
#Note :- continue used to skip the current iteration
#when your using the continue keyword in the while loop use the logic before the continue

In [ ]:
user = int(input("enter floor num: "))
intial = 0
dstop = int(input("enter the floor"))
while intial < user:
  intial = intial + 1
  if intial == dstop:
    continue
  print("you are at floor",intial)+

enter floor num: 2
enter the floor1
you are at floor 2

In [ ]:
target = 10
intial = 1
while intial <= target:
  print(intial, end= ",")
  intial = intial * 2

1,2,4,8,

#for loop

In [ ]:
#runs a set of instructions or set of rules over each and every element in the collection
a = [1,2,3,4,5,6,7,8,9]
#printthe multiples of 2 from a
#2,4,6,8,10,12,14,16,18
for i in a:
  print(i*2,end=",")
#i is known as iterator and the process of going through each and every elemnt int the collection iterations

2,4,6,8,10,12,14,16,18,

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
for i in a:
  if i == 10 or i == 12:
    break
  print(i,end=" ")
  #can we do the multiple breaks ---> no

1 2 3 4 5 6 7 8 9

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
for i in a:
  if i == 10 or i == 13 or i == 15:
    continue
  print(i,end=" ")
  #can we skip the multiple iterations--> yes by using "or"

1 2 3 4 5 6 7 8 9 11 12 14 16

#Collections

In [2]:
#In the collection the the data can be stored in 2 types
#1. Heterogenous data:-  if the collection is having multiple dtypes(int,float,str..etc) inside it is known as geterogenous data
#2. Homogenous Data:-  if the collection is having single dtype(either int or float, or str) is known as homogenous data

In [3]:
#How mant types
#1. list
#2. Tuple
#3. set
#4. Dictinary

**List**

In [4]:
#what is list?
#list--> is odered, mutable(changable), allows the duplicate data
#How can we create a list or decalre a list
#list can be decalred by using [] each element in list is separated by [,]

#list allows the duplicate data

In [5]:
l1 = ["apple","banana","pineapple","orange","apple","banana"]
print(len(l1))
print(type(l1))
print(l1)

6
<class 'list'>
['apple', 'banana', 'pineapple', 'orange', 'apple', 'banana']

#list is odered

In [6]:
#odered means items in the list is having a sequence of index position numbers
#By using this index position number we are accessing the each item from the list
#from the above list print('pineapple')
print(l1[2])

pineapple

In [7]:
#print the range opf item from apple to orange
print(l1[0:4])   #end has to be n+1
#Note:- silcing can be stop before one step to the eaxct end index position number

['apple', 'banana', 'pineapple', 'orange']

In [8]:
l1 = ["apple","banana","pineapple","orange","apple","banana"]
#print the even position item from list?
print(l1[0:7:2])
print(l1[::2])
#Reverse the entire list?
print(l1[::-1])

['apple', 'pineapple', 'apple']
['apple', 'pineapple', 'apple']
['banana', 'apple', 'orange', 'pineapple', 'banana', 'apple']

list is mutable

1.swap or replace the data in existing list

2.add new items to the list

3.remove the items from the list

In [9]:
#How can we swap or replace the data in existing list
#by using the index position number
l1 = ["apple","banana","pineapple","orange","apple","banana"]
#replace the 2nd apple with banana
l1[4] = "kiwi"
print(l1)

['apple', 'banana', 'pineapple', 'orange', 'kiwi', 'banana']

In [10]:
l1[4:] = "grapes","lemmon"
l1

['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon']

In [11]:
#replace 'pineapple', 'orange', with "lemon" and watermelon
l1[2:4] = "lemon","watermelon","mango"

In [12]:
l2 = ['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon']
l2[2:4] = "lemon","watermelon","mango","muskmelon"
l2

['apple',
 'banana',
 'lemon',
 'watermelon',
 'mango',
 'muskmelon',
 'grapes',
 'lemmon']

In [13]:
l3 = ['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon']
l3[2:4] = "lemon","watermelon","mango","muskmelon"
l3

['apple',
 'banana',
 'lemon',
 'watermelon',
 'mango',
 'muskmelon',
 'grapes',
 'lemmon']

In [14]:
l4 = ['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon']
l4[2:4] = "lemon","watermelon","mango","muskmelon"
l4

['apple',
 'banana',
 'lemon',
 'watermelon',
 'mango',
 'muskmelon',
 'grapes',
 'lemmon']

In [15]:
#Note:- can we change the range of items in a list --> yes we can change
"""l[start_index:end_index] but this is a bad practice
if we give more than the index range items it changes or replace the items with
existing index items so the index positions of characters can be changed"""

'l[start_index:end_index] but this is a bad practice\nif we give more than the index range items it changes or replace the items with\nexisting index items so the index positions of characters can be changed'

#Adding new items to the list

In [16]:
l5 = ['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon']
print(dir(l5)) #used to return method that are applicable on particular object

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [17]:
"""'append', 'clear', 'copy', 'count', 'extend', 'index',
'insert', 'pop', 'remove', 'reverse', 'sort' """

"'append', 'clear', 'copy', 'count', 'extend', 'index',\n'insert', 'pop', 'remove', 'reverse', 'sort' "

In [18]:
l5 = ['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon']
#append():- by default it adds the items at the end or last of list
#what is the default index position when you use the append()?
#add "mango" into l5
l5.append('mango')
print(l5)
#Note:- we caanot add more than one item in the append method

['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon', 'mango']

In [19]:
#How to add a item at particular index position?
#insert(index,"item_name")
#add  "watermelon" at second index position
l5.insert(2,"watermelon")
print(l5)
#can we insert multiple items at a time--> No beacuse insert takes only 2 arguments

['apple', 'banana', 'watermelon', 'pineapple', 'orange', 'grapes', 'lemmon', 'mango']

In [20]:
#Extend(collection name):-add multiple items in to list
#by default extend method add items at the end of the list
l6 = [1,2,3,4,5]
l5.extend(l6)
print(l5)

['apple', 'banana', 'watermelon', 'pineapple', 'orange', 'grapes', 'lemmon', 'mango', 1, 2, 3, 4, 5]

In [21]:
l5.insert(0,'berries')
print(l5)

['berries', 'apple', 'banana', 'watermelon', 'pineapple', 'orange', 'grapes', 'lemmon', 'mango', 1, 2, 3, 4, 5]

In [22]:
l5[1] ="kiwi"
print(l5)

['berries', 'kiwi', 'banana', 'watermelon', 'pineapple', 'orange', 'grapes', 'lemmon', 'mango', 1, 2, 3, 4, 5]

#remove items from the lsit

In [23]:
l7 = ['berries', 'kiwi', 'apple', 'banana', 'watermelon', 'pineapple', 'orange', 'grapes', 'lemmon', 'mango']
#1.pop(index_position number) by default it remove last element from the list
l7.pop()
print(l7)

['berries', 'kiwi', 'apple', 'banana', 'watermelon', 'pineapple', 'orange', 'grapes', 'lemmon']

In [24]:
l7.pop(0)
l7

['kiwi',
 'apple',
 'banana',
 'watermelon',
 'pineapple',
 'orange',
 'grapes',
 'lemmon']

In [25]:
#remove(item name
l7.remove('watermelon')
print(l7)

['kiwi', 'apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon']

In [27]:
l7.remove() #list.remove() takes exactly one argument (0 given)
l7

TypeError: list.remove() takes exactly one argument (0 given)

In [28]:
#how can remove the multiple items from the list?
# use "del collection_name[startindex:end index]
l8 = ['kiwi', 'apple', 'banana', 'pineapple', 'orange', 'grapes']
#remove "'apple', 'banana', 'pineapple'
del l8[1:4]
print(l8)
# del l8[::2] even
# del l8[1::2] odd

['kiwi', 'orange', 'grapes']

In [29]:
l8 = ['kiwi', 'apple', 'banana', 'pineapple', 'orange', 'grapes']
del l8[1::2]
print(l8)

['kiwi', 'banana', 'orange']

In [30]:
l8

['kiwi', 'banana', 'orange']

In [31]:
#how clear entire data from l8
l8.clear()
print(l8)

[]

#Tuples

In [35]:
#what is tuple?
#how can you define a tuple?
#tuples can be decalred in () each element in tuple is serated by (,)
#Tuple is defined as --> odered, immutable(unchangable), allows the duplicates

**tuple allows the duplicates**

In [36]:
t1 = ('kiwi', 'apple', 'banana', 'pineapple', 'orange', 'grapes','kiwi','apple')
print(len(t1))
print(type(t1))

8
<class 'tuple'>

**Tuple is odered**

In [37]:
#odered:- each element in the tuple is having sequence of index position numbers
print(t1[2])
print(t1[-1])
#'banana', 'pineapple', 'orange', 'grapes'
print(t1[2:6])
print(t1[::2])
print(t1[1::2])
#reverse t1
print(t1[::-1])

banana
apple
('banana', 'pineapple', 'orange', 'grapes')
('kiwi', 'banana', 'orange', 'kiwi')
('apple', 'pineapple', 'grapes', 'apple')
('apple', 'kiwi', 'grapes', 'orange', 'pineapple', 'banana', 'apple', 'kiwi')

**Tuple is immuatble**

In [38]:
#means we cannot replace, add, remove the items from the tuple
print(dir(t1))
#'count', 'index'

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

#set

In [39]:
#what is set? and how can you define set
#set is decalred {} and elements in the set is seprated by {,}
#set is unodered, immutable, don't allow duplicates

**set wont allow duplicates**

In [40]:
s1 = {1,2,3,4,5,6,7,1,2,3,4,5,9}
#what is length of s1
print(len(s1))
print(type(s1))
print(s1)

8
<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 9}

**set is unordered**

In [41]:
s2={'apple',"bananan","kiwi"}
print(s2[0]) #'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [43]:
a = input()
print(a[::-1])

madam
madam

#set is Immutable

1. in sets we cannot replace or swap the items but

2. we can add the new items or data to the sets

3. And we can remove the elements from the sets

**sets we cannot replace or swap the items**

In [44]:
s2 ={"python","java","c++","c","c","c"}
print(len(s2))
s2[4] = 'R'
print(s2)
#Note:- we cannot replace the items in the set becuase sets are unordered means iteams in the set doesn't index position number

4

TypeError: 'set' object does not support item assignment

**How can we can add the new items or data to the sets**

In [47]:
dir(s2)
# """'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection',
dir(s2)
# """'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection',
# 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove',
# 'symmetric_difference', 'symmetric_difference_update', 'union', 'update' """
# 'symmetric_difference', 'symmetric_difference_update', 'union', 'update' """

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [48]:
#add() in sets if we add data it doesnot have any indexposition and it can store any where in the set
s3 = {2,3,4,5,6,1,9,8,7}
s3.add(10)
print(s3)
#can we add a string into set of numbers-->yes
s3.add('hello')
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello'}

In [49]:
s4= {"apple","banana","kiwi"}
s4.add('Cherries')
print(s4)

{'kiwi', 'apple', 'banana', 'Cherries'}

In [50]:
#How to add the multiple items in set?
#what is the default index position when you add multiple items
#no indexposition bcz it is unordered

In [52]:
#by using "update"
s5 ={'banana', 'kiwi', 'apple', 'Cherries'}
s6 = {1,2,3,4,5,6}
s5.update(s6)
print(s5)

{1, 2, 3, 4, 5, 6, 'Cherries', 'kiwi', 'apple', 'banana'}

**How to remove the items from set?**

In [53]:
s7 = {'banana', 1, 2, 3, 4, 5, 6, 'kiwi', 'apple', 'Cherries'}
#i want to remove "4" from above set
print(s7.pop()) #pop() is a bad practice

1

In [54]:
print(s7)

{2, 3, 4, 5, 6, 'Cherries', 'kiwi', 'apple', 'banana'}

In [55]:
#remove(item name)
s7.remove(4)
print(s7)

{2, 3, 5, 6, 'Cherries', 'kiwi', 'apple', 'banana'}

In [56]:
s7.remove('kiwi')
print(s7)

{2, 3, 5, 6, 'Cherries', 'apple', 'banana'}

In [57]:
s7.discard('apple')
print(s7)

{2, 3, 5, 6, 'Cherries', 'banana'}

In [58]:
#what is the dofference between "remove()" and "discard()"?
#remove() if the item or data is present then it removes otherwise it rises an error
#discard() if the items present or not it wont rise the error

In [60]:
#can we delete the reange of items from the set---> no
#can we delete entire set---> yes
del s7
print(s7)

NameError: name 's7' is not defined

In [61]:
s1 = {"a","b","c","d"}
s2 = {"d","e","f","g"}
s1.intersection(s2)

{'d'}

In [62]:
s1.union(s2)

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

#Dictionary

In [63]:
#what is dictionary and how can you define it?
#how can we decalre a dictionary?
#where you can store the data in dictionary?
#dictionary can be declared {},each item is sperated {,} comma
#{key:value} pairs
#dictionary is unordered, it won't allows duplicates, mutable(changable)

In [64]:
#dictionary won't allow the duplicates?
d1 = {
    "name":"shah",
    "age": 29,
    "mobile": 9876543210,
    "bike" : "RE",
    "education": "B.tech",
    "education": "masters"
}
print(len(d1))
print(type(d1))
print(d1)

5
<class 'dict'>
{'name': 'shah', 'age': 29, 'mobile': 9876543210, 'bike': 'RE', 'education': 'masters'}

**dictionary is unordered**

In [65]:
d1 = {
    "name":"shah",
    "age": 29,
    "mobile": 9876543210,
    "bike" : "RE",
    "education": "B.tech",
    "education": "masters"
}
print(d1[1])  #key error

KeyError: 1

In [66]:
#how can we access the values from dictionary
#by using key name
print(d1['bike'])
#we cannot access the range of keys

RE

**dictionary is mutable**

In [67]:
#1.replace the items in dictionar
d1['name'] = "shahul"
print(d1)

{'name': 'shahul', 'age': 29, 'mobile': 9876543210, 'bike': 'RE', 'education': 'masters'}

In [68]:
d1['mobile'] = 9803287467
d1

{'name': 'shahul',
 'age': 29,
 'mobile': 9803287467,
 'bike': 'RE',
 'education': 'masters'}

In [69]:
#remove the items from d1
print(dir(d1))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [70]:
#pop(key_name)
d1.pop('age')

29

In [71]:
#clear
d1.clear()
d1

{}

In [72]:
del d1
d1

NameError: name 'd1' is not defined

In [73]:
d2 = {'name': 'shahul',
 'mobile': 9803287467,
 'bike': 'RE',
 'education': 'masters',
 'address': 'Hyderabad'}
 #from dictionary print only the keys

print(d2.keys())
print(d2.values())
print(d2.items())

dict_keys(['name', 'mobile', 'bike', 'education', 'address'])
dict_values(['shahul', 9803287467, 'RE', 'masters', 'Hyderabad'])
dict_items([('name', 'shahul'), ('mobile', 9803287467), ('bike', 'RE'), ('education', 'masters'), ('address', 'Hyderabad')])

In [74]:
d2 = {'name': 'shahul',
 'mobile': 9803287467,
 'bike': 'RE',
'fruits':["mango","apple","kiwi"]
}
#replace "kiwi" with watermelon
d2['fruits'][2] = "watermelon"
d2

{'name': 'shahul',
 'mobile': 9803287467,
 'bike': 'RE',
 'fruits': ['mango', 'apple', 'watermelon']}

In [75]:
#remove apple and watermelone
d2['fruits'].remove('apple')
d2

{'name': 'shahul',
 'mobile': 9803287467,
 'bike': 'RE',
 'fruits': ['mango', 'watermelon']}

In [76]:
d2['fruits'].pop(1)
d2

{'name': 'shahul', 'mobile': 9803287467, 'bike': 'RE', 'fruits': ['mango']}

In [77]:
d2.clear()
d2

{}

In [78]:
del d2
d2

NameError: name 'd2' is not defined

In [79]:
"""list:- is a ordered, muttable, allows the duplicates-->[]
                  adding methods:- append, insert(index, itemname),extend
                  remove method :- pop(),remove, del l[:],clear
   tuple:- is  ordered, immutable, allows the duplicates-->()
   set :-->  is unordered, immutable, doesn't allow duplicates---> {}
                           adding method:- add, update
                           remove methods:- remove,discard,pop(bad practice),clear
   dictionary--> unordered, mutable, it wont allow the duplicates
              -->  key:value pairs
              -->  replace by using specific key name we can replace the items in the dictionary
              -->  adding items if you give new key name d1['new_key] = "value"
              -->  remove method:- pop(key_name), clear,popitem()"""

'list:- is a ordered, muttable, allows the duplicates-->[]\n                  adding methods:- append, insert(index, itemname),extend\n                  remove method :- pop(),remove, del l[:],clear\n   tuple:- is  ordered, immutable, allows the duplicates-->()\n   set :-->  is unordered, immutable, doesn\'t allow duplicates---> {}\n                           adding method:- add, update\n                           remove methods:- remove,discard,pop(bad practice),clear\n   dictionary--> unordered, mutable, it wont allow the duplicates\n              -->  key:value pairs\n              -->  replace by using specific key name we can replace the items in the dictionary\n              -->  adding items if you give new key name d1[\'new_key] = "value"\n              -->  remove method:- pop(key_name), clear,popitem()'

In [80]:
d2 = {'name': 'shahul',
 'mobile': 9803287467,
 'bike': 'RE',
'fruits':["mango","apple","kiwi"]
}
d2.popitem()
print(d2)

{'name': 'shahul', 'mobile': 9803287467, 'bike': 'RE'}

#Functions

In [81]:
#what is a function?
#function is a block of code which can be executed when you call it
#what is purpose of the functions?
#To avoid the duplicate codes

In [82]:
#How to create a function?
#to create a function we use "def"-->means your defining a function
def f1():
  print("Hello i am defining a function to test it")
#How to call the function
f1()

Hello i am defining a function to test it

In [83]:
a = "hello world"
print(a.replace('world','universe'))

hello universe

In [84]:
def shah(name,age,education):
  print(f'Hi {name}, please check your details, age {age}, education {education}')

shah("shahul",28,"ms")

Hi shahul, please check your details, age 28, education ms

In [85]:
#what is a parameter?
#when we are defining a funtion we are creating varaibes which are known as parameters
#what is an argument?
#when your calling a function your passing some values which are known as arguments
#Note:- when you are calling a function No. of parameters == No of arguments,
#if there is mismatch error will occurs

In [86]:
de9
f check_number(num):
  if num%2==0:
    print(f'given number {num} is even')
  else:
    print(f'given number {num} is odd')
a = int(input("enter the number"))
check_number(a)

enter the number9
given number 9 is odd

In [87]:
#CHECK THE GIVEN number is +ve or -ve or neutral
def pos_neg_neu(num = 0):
  if num>0:
    print("+ve")
  elif num == 0:
    print("neu")
  else:
    print("-ve")

a = int(input("enter the number: "))
pos_neg_neu(a)

enter the number: 100
+ve

In [88]:
#default function
#ARGS & KWARGS
#TESTCASES-->5
#LC,

**Default Function**

In [89]:
#what is a default function?
def f1(x="No argument given"):
  print(x)
f1()
"""when you are defining the function we are creating varaibles which are known as
parameters. so, to this parameters we are assigning a value from this when you call a function
without passing an argument it excutes the function with default value we have given"""

No argument given

'when you are defining the function we are creating varaibles which are known as\nparameters. so, to this parameters we are assigning a value from this when you call a function\nwithout passing an argument it excutes the function with default value we have given'

In [90]:
#what can i do when i dont know how many parameters do we need to pass?
def details(**name):
  print(name)

details(name="zenvius", Type = "pvt ltd", work = 'IT Training and staffing',place= 'hyderabad')

{'name': 'zenvius', 'Type': 'pvt ltd', 'work': 'IT Training and staffing', 'place': 'hyderabad'}

In [91]:
##what can i do when i dont know how many Arguments do we need to pass?
def prog_language(*name):
  print(name)
prog_language('python','java','c++')
prog_language('python,java','c++','c','.net')

('python', 'java', 'c++')
('python,java', 'c++', 'c', '.net')

In [92]:
""" **--> KWARGS--> Keyword arbitraray arguments-->when we dont know how many parameters do we
                                                   need to pass use KWARGS
                                                -->we can able set what of data we are passing BCZ
                                                   by default the data is stored on the form of "dictionary"
    *--> ARGS---> Arbitrary arguments-->when we dont know how many parameters do we
                                        need to pass use ARGS
                                      --> default data type for ARGS is Tuple """

' **--> KWARGS--> Keyword arbitraray arguments-->when we dont know how many parameters do we\n                                                   need to pass use KWARGS\n                                                -->we can able set what of data we are passing BCZ\n                                                   by default the data is stored on the form of "dictionary"\n    *--> ARGS---> Arbitrary arguments-->when we dont know how many parameters do we\n                                        need to pass use ARGS\n                                      --> default data type for ARGS is Tuple '

#Return

In [93]:
#what is return?
# return keyword  returns or send back the values to the caller
# it is similiar to the print statement
# when you are using the return we need to call the function with print()

In [94]:
def f1():
  return "hello"
print(f1())

hello

In [95]:
#write a python function to summ all the item in a list?
list = [10,20,30,40]
#output = 20
sum = 0
for i in list:
  sum = sum + i
print(sum)

100

In [96]:
def sum_items(*number):
  sum = 0
  for i in list:
    sum = sum + i
  return(sum)
print(sum_items(8,9,10,30))

100

In [97]:
#write a python function that takes a list and returns a distinct values in new list
l1 =[1,2,3,3,4,5,6,1,2,3,4,9]
x = []
for i in l1:
  if i not in x:
    x.append(i)
print(x)
print(set(l1))

[1, 2, 3, 4, 5, 6, 9]
{1, 2, 3, 4, 5, 6, 9}

In [98]:
def distinct(*l1):
  x = []
  for i in l1:
    if i not in x:
      x.append(i)
  return x
print(distinct(98,97,96,95,94,94,93,93,97))

[98, 97, 96, 95, 94, 93]

In [99]:
def distinct(*l1):
  x = []
  for i in l1:
    if i not in x:
      x.append(i)
  print(x)
distinct(98,97,96,95,94,94,93,93,97)

[98, 97, 96, 95, 94, 93]

In [100]:
num = int(input("enter the number: "))
if num%2==0:
    print(f'given number {num} is even')
else:
    print(f'given number {num} is odd')

enter the number: 9
given number 9 is odd

In [101]:
b = int(input())
check_number(b)

9
given number 9 is odd